	<% if (Date.today > @quest.enddate) %>
		<div class="join_form complete">
			<p class="join-form-label"> This quest is completed and can no longer be joined. </p>
		</div>
	<% elsif current_user.joined?(@quest) %>
		<div class="join_form unjoin">
			<%= render 'unjoin' %>
		</div>
	<% else %>
		<div class="join_form join">
			<p class="join-form-label"> Ready to join the quest? </p>
			<%= render 'join' %>
		</div>
	<% end %>
	

