	
	<% if current_user.joined?(@quest) %>
		<div class="join_form unjoin">
			<%= render 'unjoin' %>
		</div>
	<% else %>
		<div class="join_form join">
			<p class="join-form-label"> Ready to join the quest? </p>
			<%= render 'join' %>
		</div>
	<% end %>
	

