<!-------------- LEFT CONTENT --------------->
<div class="left_content index">

	<h1>Find your Quest!</h1>

	<%= will_paginate %>
	
	<div class="find-quests-box">
		<%= render @quests %>
	</div>
	
	<%= will_paginate %>

	<br />

	<%= link_to 'New Quest', new_quest_path %>
	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content">

</div>
