<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">
	<h1 class="newquest-title-text">New Quest</h1>

	<%= render 'form' %>
	
		
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
	<div class="rules">
		<p class="rules-header"> Ready to create a Quest?</p>
		<p class="rules-header"> Awesome!   </p>
		<p class="rules-header">Here are some hints to make your quest successful: </p>
		<ol>
			<li class="rule"><b>Be specific.</b>
				<br />  The most successful challenges include small easy steps.  The ideal Quest will have a 
					few tasks to complete each day.
			</li>
			<br />
			<li class="rule"><b>Provide Resources.</b>  
				<br />As a Creator, you probably know more about your topic than a noob.  As such, the more tools 
				you can provide the better. 
			</li>
			<br />
			<li class="rule"><b>Be Positive.</b>  
				<br />Questrial's goal is to continually challenge people in a constructive way, so please stay positive.
			</li>
		</ol>

		
		
	</div>
</div>