<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">
	<h1>New Quest</h1>

	<%= render 'form' %>
	
		
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
	<div class="rules">
		<p class="rules-header">Quest Ideas</p>
		<p class="rule">Personal Challenge</p>
		<p class="rule">Life Experiment</p>
		<p class="rule">"I Double Dare Ya!"</p>
	</div>
</div>