<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<%= render 'shared/loginform' %>

</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>