<li class="users-leaderboard-list">

	<%= gravatar_for user, :size => 50 %>
	<%= link_to user.name, user %>
  

	<% @mypoints = getpoints(user) %>
	<% if (:leaderboard == "false") %>
		<div class="points-circle thisuser">
	<% else %>	
		<div class="points-circle thisuser leaderboard">
	<% end %>
			<%= @mypoints %>
		</div>


	</li>
	