<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<h1>Edit user</h1>

	<%= render 'form' %>

	<div>
	  <%= gravatar_for @user %>
	  <a href="http://gravatar.com/emails">change</a>
	</div>

</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>