<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<h1>Leaderboard</h1>
	
	<ul class="users">
	  <% @leaderboard.each do |u| %>
		<%= render :partial => "user", :locals => {:user => u[0]} %>
	  <% end %>
	</ul>
	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>