<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<h1>All users</h1>

	<%= will_paginate %>
	
	<ul class="users">
		<%= render @users %>
	</ul>
	
	<%= will_paginate %>
	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>