<!-------------- LEFT CONTENT --------------->
<div class="left_content index">
  
  <div class="login-box home">
	<% if !signed_in? %>
		<%= render 'shared/loginform' %>
	<% else %>
		Welcome, <%= current_user.name %>!
	<% end %>
  </div>
  
  <div class="quote">
	<p class="quote-text">"All life is an experiment. The more experiments you make the better."</p>
	<p class="quote-author">Ralph Waldo Emerson</p>
  </div>


</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content">

</div>
