
	<div class="home-page-info-box">
	
		<ul class="home-page-text-box">
			<li class="home-page-text">
				Plan your mission
				<p class="home-page-subtext">What is your goal?</p>
			</li>
			<li class="home-page-text">
				Gather your friends 
				<p class="home-page-subtext">Who will share your journey?</p>
			</li>
			<li class="home-page-text">
				Embark on your Quest
				<p class="home-page-subtext">How much can you grow?</p>
			</li>
			
		</ul>
	</div>

<!-------------- LEFT CONTENT --------------->
<div class="left_content home">

  <% if !signed_in? %>
	<p class="home-page-text-start">
		Ready to begin your journey?
	</p>
	<div class="login-box home">
		
			<%= render 'shared/loginform' %>
		
	</div>
  <% else %>
	<p class="home-page-text-start">
		Continue your Journey...
	</p>
  <% end %>
	
  <div class="clear"> </div>

</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content home">
  
	<div class="featured-quest-box">
		<p class="featured-quest-box-text"> Featured Quests </p>
		<div class="featured-quest-listing">
			<% @quests.each do |quest| %>
				<%= render :partial => "quests/quest", :locals => {:quest => quest} %>
			<% end %>
		</div>
	</div>

</div>
