<!-------------- LEFT CONTENT --------------->
<div class="left_content index">
  
  <div class="login-box home">
	<% if !signed_in? %>
		<%= render 'shared/loginform' %>
	<% else %>
		<p class="home-questrial">Questrial</p>
		<p class="home-slogan">Level up your life</p>
	<% end %>
  </div>
  



</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content">
	
	<div class="home-sales-box">
		<p>Have you ever thought...</p>
		<ul>
			<li>"Tomorrow I'll watch less TV"</li>
			<li>"I'll start going to the gym every day once this big project ends"</li>
			<li>"I'll try tweaking something in my life at some point in the future"</li>
		</ul>
		<p>If you are like most people, you have great ideas but just can't find the motivation to start.
			Questrial wants to provide you that support.</p>
		<p>Follow these simple steps to get started today:</p>
		<ul>
			<li><b>Sign Up</b></li>
			<li><b>Browse</b> for a quest that matches your goals</li>
			<li><b>Join</b> or <b>Create</b> a quest</li>
			<li><b>Share</b> your progress and results</li>
		</ul>
		<p> Still skeptical? Browse <%= link_to 'existing quests...', quests_path %>
	</div>
	
</div>
<div class="full_content">
  <div class="quote">
	<p class="quote-text">"All life is an experiment. The more experiments you make the better."</p>
	<p class="quote-author">- Ralph Waldo Emerson</p>
  </div>
</div>
