<!-------------- LEFT CONTENT --------------->
<div class="left_content index">
	
  <% if signed_in? %>
	<p> Hello, <%= current_user.name %>! </p>
	<p> Your email address is <%= current_user.email %>. </p>
	<%= link_to 'Logout', signout_path, :method => :delete %>
				
  <% end %>


</div>
<!-------------- RIGHT CONTENT --------------->
<div class="right_content">

</div>
