<!-------------- LEFT CONTENT --------------->
<div class="left_content index">

	
	<div class="login-box">
	
		

<!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=176855415727787&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
-->


<fb:login-button autologoutlink="true" scope="email"></fb:login-button>
	</div>
	
	<br /><br /><br />
	
	    <div id="login" style ="display:none"></div>
        <div id="name"></div>
		
		
		<a href="#" id="sayhi"></a>

</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content">

</div>
