<div class="full_content">

  <div class="home-page-text">
	<p class="home-page-text-welcome">
		Welcome to Questrial, your place to expand your experiences.
	</p>
	<div class="home-page-text-box">
		<p class="home-page-text-select">
			Select your obstacle,
		</p>
		<p class="home-page-text-gather">
			gather some friends,
		</p>
		<p class="home-page-text-start">
			and start your Quest.
	</p>
	</div>
  </div>

  <div class="login-box home">
	<div class="home-center">
	<% if !signed_in? %>
		<%= render 'shared/loginform' %>
	<% else %>
		<h1 class="home-welcome">Welcome, <%= current_user.name %> </h1>
	<% end %>
	</div>
  </div>
  
  <div class="clear"> </div>
	
  <div class="featured-box">	
	<div class="featured-quest-box">
		<h1> Featured Quests </h1>
		<%= render @quests %>
	</div>

  </div>
  
  	  <div class="quote">
		<p class="quote-text">"All life is an experiment. The more experiments you make the better."</p>
		<p class="quote-author">- Ralph Waldo Emerson</p>
	  </div>

</div>