


<p>Questrial is your tool to share what you're doing with your friends.</p>

<p>Are you hell-bent on improving yourself?  So are we [hyperlink to Contact Us], and we'd like to improve ourselves with you.  
	Try whatever you'd like - quit coffee for a week[hyperlink], 
	have lunch with your friends [hyperlink], or eat vegetarian for a month [hyperlink].
    Questrial is your place to grow.
</p>

<p>We try to keep it simple.  Here's what you can do: </p>

<ul>
	<li>Browse All Quests - everything on Questrial is public, so feel free to look around [hyperlink].</li>
	<li>Join A Quest - find a Quest you like? Join it! We'll update you with everyone's activity.</li>
	<li>Create A Quest - have your own idea for a Quest?  Create one and invite your friends! </li>
</ul>

<p>The more Quests you do with friends, the more points you'll have.  If you have any suggestions, email us here [hyperlink to Contact Us].</p>

<p>Stay challenged,</p>

<p class="signature">Mark & Eugene</p>

