/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/****** HEADER SECTION ******/
#Header {
    height: 60px;
	background-color: #467B2C;
	color: white;
	font-variant: small-caps;
	margin: 0px -60px;
	padding: 0px 50px;
	border-radius: 0px 0px 10px 10px;
	background: -moz-linear-gradient(270deg, white, #8FD26E) repeat scroll 0 0 transparent;

}

div.header_header{
	height:5px;
	background-color:white;
}

a.questrial-title {
	font-size: 35px;
	margin: 20px;
	float: left;
	color:#5a5a5a;
	font-family: helvetica;
	font-style: italic;
	text-decoration: none;
}
	a.questrial-title:hover{
		text-shadow: 1px 1px 10px white;
	}
a.experimentable-title{
	font-size: 30px;
	margin: 20px 0px;
	float: left;
	color:#FF5F00;
	font-family: corbel, verdana;
	text-decoration: none;
	font-variant:normal;
	letter-spacing: -2px;
	font-weight: bold;
}
	a.experimentable-title.able{
		color: #797979;
		font-size: 26px;
		margin-top: 22px;
		font-weight: bold;
		font-family: corbel;
		font-style: italic;
	}
	a.experimentable-title:hover{
		text-shadow: 1px 1px 10px white;
	}

	
#top_navigation{
	float: right;
	font-size: 16px;
	font-weight: 100;
}
a.nav_header{
	color: black;
	padding: 5px;
	text-decoration: none;
	opacity: 0.7;
}
	a.nav_header.red{
		font-weight: bold;
		color: #A65240;
		font-size: 16px;
	}
	a.nav_header:hover{
		opacity: 1;
//		text-shadow: 2px 2px 5px white;
	}

.userbox{
	border-top: medium none;
	float: right;
	font-size: 12px;
	padding: 8px 5px 7px 10px;
//	background: -moz-linear-gradient(270deg, white, #8FD26E) repeat scroll 0 0 transparent;
	background: white;
	border-color: #e9e9e9 #e9e9e9 #f5f5f5;
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	margin-right: 20px
}


/****** END HEADER SECTION ******/
div.body{
	float: left;
//	width: 100%;
	height: 100%;
	width: 980px;
	margin: 0px auto;
//	background-color: #8FD26E;
}

div.left_content{
	float: left;
	padding:20px;
	width: 460px;
}
	div.left_content.new_form{width:600px;}
	div.left_content.index{}
	div.left_content.profile{width:540px;}

div.right_content{
	float: left;
	padding:20px;
	width: 440px;
}
	div.right_content.new_form{width:300px;}
	div.right_content.index{}
	div.right_content.profile{width:360px;}
	
div.full_content{
	float: left;
	padding:20px;
	width: 940px;
}

/*******************
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.info a {color:#205791;}
*******************/
.flash {
	padding:0.8em;
	margin:1em;
}
.success {
	border:2px solid #c6d880;
	background:#e6efc2;
	color:#264409;
}
.error {
	border:2px solid #fbc2c4;
	background:#fbe3e4;
	color:#8a1f11;
}
.notice{
	background:#fff6bf;
	color:#514721;
	border:2px solid #ffd324;
}

/****** FOOTER SECTION ******/
.head_body_wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -80px auto;
	background-color:white;
	width:980px;
//	border-left: 3px solid #DEDEDE;
//	border-right: 3px solid #DEDEDE;
	z-index: -999;
}
.push{
	height:80px;
	clear:both;
}
.prefooter_whitespace{
	height:40px;
	clear:both;
}
.footer {
    height: 40px;
//	background-color: white;
//	color: #5A5A5A;
//	border-top: 1px solid #DEDEDE;
	
	font-variant: small-caps;
	padding: 0px 50px;
	background: -moz-linear-gradient(90deg, #aFF48F, #8FD26E) repeat scroll 0 0 transparent;
}
#bottom_navigation{
	padding: 10px 10px;
	width:980px;
	margin: 0 auto;
}
span.bottom_nav_header{
	float:left;
	margin-left: 20px;
}
a.bottom_nav_header{
	float: right;
	padding-right: 10%;
	text-decoration: none;
	color: #5a5a5a;
}
	a.bottom_nav_header:hover{
		text-decoration:underline;
	}

/****** END FOOTER SECTION ******/