// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.comments {
	width: 424px;
}
	table.comments.profile{width: 305px;}
	
.comment-field-box{
	background: white;
	width: 437px;
}
table.comments tr{
	height: 60px;
}
table.comments tr.comment td{
  border-bottom: 1px solid #CCC;
  vertical-align: top;
  padding: 5px;
}

table.comments tr.comment td span.timestamp {
  font-size: 85%;
  color: #666;
  float: right;
}
table.comments tr.comment td span.body {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
span.commenter {
	font-size: 16px;
	font-weight: bold;
	color: #286B07;
}
	span.commenter.feed, span.commenter.feed a{
		font-size: 12px;
		text-decoration: none;
	}
	span.commenter.feed a:hover{text-decoration:underline;}
	
p.feed-quest, p.feed-quest a{
	font-size: 14px;
	margin:0px;
	text-decoration: none;
	color: #3B5998;
	font-weight: bold;
}
	p.feed-quest a:hover{text-decoration: underline;}
p.comment_destroy{
	float:right;
	margin:0px;
}
	p.comment_destroy a{
		text-decoration: underline;
		color: #666666;
	}

/**** MOVED FROM QUEST.CSS ****/
.comment-wall-header{
	padding:10px 5px;
	border-bottom: 3px solid #aaa;
}
#CommentWall{
	display: inline;
	margin:0px;
}
span.comment-count{
	float:right;
}

div.comments-full-box{
	background: #EEEEEE;
	padding: 5px;
	border: 3px solid rgba(200, 200, 200, 0.3);
}
div.comments-box-form{

}

div.comments-with-top-box{
	width: 440px;
}

tbody tr.comment:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
