// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.comments {
	width: 420px;
}
	table.comments.profile{width: 360px;}
	
table.comments tr{
	height: 60px;
}
table.comments tr.comment td{
  border-bottom: 1px solid #CCC;
  vertical-align: top;
  padding-top: 5px;
}

table.comments tr.comment td span.timestamp {
  font-size: 85%;
  color: #666;
  float: right;
}
table.comments tr.comment td span.body {
  display: block;
  font-size: 16px;
}
table.comments tr.comment td span.commenter {
	font-size: 16px;
	font-weight: bold;
	color: #286B07;
}
p.comment_destroy{
	float:right;
	margin:0px;
}