// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-page-info-box{
	width: 980px;
}
.home-page-text-box{
    line-height:1.1em;
    padding:0;
	font-size: 22px;
	list-style: none;
}
li.home-page-text{
	float: left;
	width: 302px;
	padding: 5px;
	border: 2px solid rgba(0,0,0,.5);
	margin: 0px 5px;
	background: rgb(174,215,155);
	color: white;
	font-weight: bold;
}
.home-page-subtext{
	font-size: 14px;
	margin: 0px;
}
.home-page-text-start{
	font-size: 22px;
	margin:0px;
}
.login-box.home{
	text-align:center;
	width: 200px;
	border: 10px solid #87C46A;
	background: rgb(174,215,155);
	margin: 20px;
}
.featured-quest-box{
	height: 335px;
	width: 555px;
}
.featured-quest-listing{
}
.featured-quest-box-text{
	margin: 0px 0px 10px 0px;
	font-size: 22px;
}
