// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-box.home{
	text-align:center;
}

.home-button{
	background: -moz-linear-gradient(center top , #DD4B39, #D14836) repeat scroll 0 0 #D14836;
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 11px;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	display: inline-block;
	margin: 5px 20px;
}

.home-button.login{}
.home-button.signup{}

.home-center{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.home-questrial{
	font-size: 28px;
	text-align:center;
}
.home-slogan{
	font-size:20px;
	text-align:center;
}



.home-sales-box{
	border: 2px solid #CCC;
	background-color: #e6efc2;
	padding: 10px;
}

.featured-quest-box{
	border-top: 1px solid #FF5F00;
	margin-top: 10px;
	text-align: left;
	line-height: 1;
}

.quote{
	padding: 10px;
	text-align: center;
	font-style: italic;

}
.quote-text{
	font-size: 20px;
	line-height: 1.5;
	margin: 0px;
}
.quote-author{
	color: #999;
	font-size: 14px;
	margin:0px;
}

