// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-box.home{
	border: 2px solid #CCC;
	background-color: #fff6bf;
	padding: 10px;
	width: 410px;
}
.home-questrial{
	font-size: 28px;
	text-align:center;
}
.home-slogan{
	font-size:20px;
	text-align:center;
}

.home-sales-box{
	border: 2px solid #CCC;
	background-color: #e6efc2;
	padding: 10px;
}

.quote{
	padding: 10px;
	text-align: center;
	font-style: italic;
	border-top: 1px solid #fbe3e4;
	border-bottom: 2px solid #fbe3e4;
}
.quote-text{
	font-size: 20px;
	line-height: 1.5;
	margin: 0px;
}
.quote-author{
	color: #999;
	font-size: 14px;
	margin:0px;
}

