// Place all the styles related to the Quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.field{
	vertical-align: top;
	color: #780000;
}
td.fieldlabel{
	text-align: right;
	padding-right: 20px;
}
	
.this-quest-top{
	padding:20px 20px 0px 20px;
	width: 940px;
	min-height: 190px;
}
.join-button{
	float:right;
	margin-right: 100px;
	margin-top: 50px;
}
.this-quest-title-top-box{
	width: 820px;
	min-height: 160px;
}
.this-quest-title-text-box{
	margin-left: 20px;
	float: left;
	width: 630px;
}
p.this-quest-title{
	font-size: 30px;
	font-weight: bold;
	margin:0px;
}

p.this-quest-category{
	font-size: 24px;
	padding: 3px;
	border: 1px solid black;
	background: gold;
	float: left;
	width: 630px;
	text-align: center;
}

.this-quest-box{
}
div.quest-photo{
	float:left;
}
.this-quest-title-box{

}
.this-quest-creator-box{

}
.this-quest-creator{
	margin:0px;
}
.this-quest-range-box{

}
.this-quest-range{
	margin:0px;
}
.this-quest-edit-box{

}
.this-quest-edit{
	margin:0px;
}	
.this-quest-description-box{
	margin: 10px 0px 10px 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}
.this-quest-description{
	margin:0px;
}


h1.quest-stat.completed{color: #A23A00}
	
.this-quest-cmd{
}

	div.quest-info td{font-family: helvetica;}

.join_form{
	float: right;
	height: 200px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	line-height: 1.3;
}
	.join_form.join{
		color: black;
		font-size: 20px;
		border: 2px solid #AAA;
		background: #DDD;
	}
	.join_form.unjoin{
		color: #5a5a5a;
		font-size: 16px;
	}
	.join_form.complete{
		color: black;
		font-size: 16px;
		border: 2px solid #AAA;
		background: #DDD;
	}
	.join_form div.actions{
		margin-top: 20px;
	}

.join-form-label{
}	
	
p.quest-title{
	font-size: 20px;
	font-family: helvetica;

}
.quest-start{}
.quest-end{}
.quest-date-label{
	text-align: right;
	font-weight:bold;
	vertical-align: top;
}
.quest-description{
	width: 100%;
}

h2.this-quest-title-label{
	font-family: corbel;
	font-size: 30px; 
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;
}
div.this-quest-stats{
	width: 400px;
	height: 200px;
}

div.addthis_toolbox.addthis_default_style{
	margin-bottom: 30px;
}
div.this-quest-share{
	border-top: 2px solid #8FD26E;
	padding-top: 20px;
}
div.this-quest-users{
	border-top: 2px solid #8FD26E;
	padding-top: 20px;
}

/****** NEW QUEST ******/
div.rules{}
p.rules-header{
	font-size: 20px;
}
li.rule{
	font-size: 16px;
}
.newquest-title-text{
	margin:0px;
}
.newquest-label-desc{
	color: #5a5a5a;
	padding-bottom: 10px;
}

/****** COMMENTS ******/

.comment-wall-header{
	padding:10px 0px;
	border-bottom: 3px solid #aaa;
}
#CommentWall{
	display: inline;
	margin:0px;
}
span.comment-count{
	float:right;
}

div.comments-full-box{
	background: #EEEEEE;
	padding: 10px;
	border: 3px solid rgba(200, 200, 200, 0.3);
}
div.comments-box-form{

}


div.comments-with-top-box{
	width: 440px;
}


div.clear{clear:both;}

/****** ALL QUESTS LISTING ******/

.find-quests-box{
	line-height: 1;
}

.quest-listing{
	padding:5px;
	border: 2px solid rgba(200,200,200,.5);
	margin: 10px 0px;
	border-radius: 5px;
}
.quest-listing.active{background-color:#fff6bf;}
.quest-listing.upcoming{background:#e6efc2;}
.quest-listing.completed{background-color:#fbe3e4;}

.quest-list-photo{
	float:left;
	width: 50px;
}

p.quest-list-title{
	font-weight:bold;
	margin:0px 0px 2px 0px;
}
p.quest-list-category{
	float:right;
	margin:0px;
	font-size: 12px;
	text-decoration: underline;
}
p.quest-list-description{
	margin:0px;
}

p.quest-list-title a{
	color:#286B07;
	text-decoration: none;
	font-family:helvetica;
	font-style: italic;
}
	p.quest-list-title a:hover{
		color:#339966;
	}

.quest-list-info{
	float:left;
	margin-left:10px;
	width: 725px;
	min-height: 53px;
}
	
tr.quest-info-row.status td{
	font-family: helvetica;
}	
tr.quest-info-row.description td{
	padding-top:3px;
}

div.joined-count{
	float:right;
	padding:2px;
	border-left: 2px solid #BBBBBB;
}
