.google-calendar-button{
	background: -moz-linear-gradient(center top , #DD4B39, #D14836) repeat scroll 0 0 #D14836;
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 11px;
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	display: inline-block;
	margin: 5px 20px;
}

.quote{
	padding: 10px;
	text-align: center;
	font-style: italic;
}
.quote-text{
	font-size: 20px;
	line-height: 1.5;
	margin: 0px;
}
.quote-author{
	color: #999;
	font-size: 14px;
	margin:0px;
}