// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****** USERS LIST - LEADERBOARD ******/
ul.users {
}
ul.users li {
  list-style: none;
}

/*** _user ***/
li.users-leaderboard-list{
	background: #EEE;
	border: 3px solid rgba(200,200,200,.5);
	height: 30px;
	width: 400px;
	margin-top: 5px;
	padding:5px;
}
li.users-leaderboard-list a{
	margin: 8px;
	font-size:14px;
	position: absolute;
}

/****** SHOW USER ******/
h1.user-info{
	margin-bottom: 0px;
	float: left;
}

.admin-badge{
	font-size: 10px;
	background: gold;
	border: 1px solid black;
	padding: 3px;
}
.user-button{
	float:right;
	border: 1px solid black;
	padding: 2px;
	margin-top: 3px;
}
	.user-button.admin{margin-right:10px;}
	.user-button.edit{}

.user-point-stats{
	margin: 0 auto;
}
	.user-point-stats td{
		border: 3px solid rgba(100, 100, 100, 0.5);
		background: none repeat scroll 0 0 #EEAA99;
		font-weight: bold;
		color: white;
	}
	.user-point-stats .mypoints{
		background: rgba(0, 200, 0, 0.7);
	}
	a.leaderboard-link{
		text-decoration: underline;
		margin-right: 355px;
	}

span#joined{
	margin-left: 440px;
}

.myquests-list-box{
	width: 580px;
	height: 335px;
	border-top: 2px solid #8FD26E;
}
.myquests-list-label{
	margin: 10px 0px;
}
.myquests-list{
	width: 580px;
}
.myquest-box{
	width: 160px;
	height: 260px;
	float: left;
	padding: 6px;
	margin-right: 10px;
	border: 1px solid #CCCCCC;
	background: #FDFDFD;
	position: relative;
	overflow: hidden;
}
.myquest-box-stats{
	margin: 3px;
	position: absolute;
	bottom:0;
	width: 155px;
}
	.myquest-box-stats p{margin:0px;}
.myquest-list-title{
	height: 40px;
	margin: 0px;
}
	.myquest-list-title a{
		color: #286B07;
		font-weight: bold;
	}
	.myquest-list-title a:hover{
		color: #5b9f3a;
		text-shadow: 0px 5px 2px rgba(0,200,0,.4);
	}

.myquest-list-category-box{
	opacity: 0.8;
	text-align: center;
	font-weight: bold;
}
	.myquest-list-category-box.color0{background-color: white;}
	.myquest-list-category-box.color1{background-color: #FFCC66;}
	.myquest-list-category-box.color2{background-color: lightBlue;}
	.myquest-list-category-box.color3{background-color: #FF99FF;}
	.myquest-list-category-box.color4{background-color: #FFCC66;}
	.myquest-list-category-box.color5{background-color: #99FF66;}
	.myquest-list-category-box.color6{background-color: #FF99FF;}
	.myquest-list-category-box.color7{background-color: #FFCCFF;}
	
.myquest-list-category{
	margin:0px;
}	

.myquest-list-photo{
	margin: 0px;
	display: table;
	height: 150px;
	width: 160px;
}
	.myquest-list-photo img:hover{
		-moz-box-shadow: 0 0 2px 2px #888;
		-webkit-box-shadow: 0 0 2px 2px #888;
		box-shadow: 0 0 2px 2px #888;
	}
	.myquest-photo{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: #EEE;
	}
	.myquest-photo-img{
	}

div.myquest-stat{
	width: 40px;
	float:left;
	border: 2px solid rgba(100, 100, 100, 0.3);
	font-family: helvetica;
	font-weight: bold;
	padding: 2px;
	opacity: .7;
	text-align: center;
}
	.myquest-stat.joiners{background-color:#FFbF00;margin-left:5px;}
	.myquest-stat.length{background-color:#E0FFFF;margin-left:5px;}
	.myquest-stat.day.green{background-color:#C0FF3E;}
	.myquest-stat.day.yellow{background-color:#FFFF00;}
	.myquest-stat.day.grey{background-color:#CCCCCC;}
	
	//This is used in the quest show page
	.myquest-stat.big{
		width: 100px;
		height: 120px;
		margin: 0px 10px 20px 10px;
		font-size: 32px;
		text-align: center;
		border: 3px solid rgba(100, 100, 100, 0.3);
	}
	
	//This is used in the quest index (search) page
	.myquest-stat.small{
		height: 40px;
		text-align: center;
		margin-left: 5px;
		margin-right: 0px;
		padding: 2px;
		border: 2px solid rgba(100, 100, 100, 0.3);
	}

.myquest-stat-label{
	font-size: 9px;
	text-align: left;
	border-bottom: solid 1px;
}
	.myquest-stat-label.big{
		font-size:20px;
		border-bottom: solid 3px;
		padding: 5px;
		margin: 5px 5px 30px 5px;
		text-align: left;
	}
	.myquest-stat-label.small{
		border-bottom: solid 1px;
		padding-bottom: 2px;
		text-align: left;
		margin: 5px 0px;
	}


.myquest-stat-value{}
	.myquest-stat-value.big{
		margin: 0px;
	}

.points-circle {
	padding: 2px;
	background: rgba(250,0,0,.7);
	border: 2px solid white;
	color: white;
	border-radius: 50px;
	position: absolute;
	width: 20px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
}
	.points-circle.myquest{
		left: 0px;
		top: 58px;
	}
	.points-circle.user{
		left: 150px;
		top: 130px;
		background: rgba(0, 200, 0, 0.7);
	}
	.points-circle.userlist{
		background: rgba(0, 200, 0, 0.7);
		position: relative;
		float:left;
	}
	.points-circle.thisuser{
		position:relative;
		top: -15px;
		left: -15px;
		background: rgba(0, 200, 0, 0.7);
	}
		.points-circle.thisuser.leaderboard{
			top: -32px;
			left: -35px;
		}
	.points-circle.thisquest{
		height: 20px;
		left: -15px;
		top: -70px;
		position: relative;
		margin-bottom: -30px;
	}
	.quest-list-points{
		margin: 4px 0px;
		font-family:helvetica;
	}
	.points-circle.quest{
		top: 60px;
		left: 135px;
		height: 40px;
		width: 40px;
		font-size: 2.7em;
		border: 4px solid white;
	}
	.quest-points{
		margin: 10px 0px;
		font-family: helvetica;
	}
	

/*** NEW/EDIT FORM **/

.change-password-text{
	font-size: 1.6em;
}
.signup-form-box{
	margin-left: 0px;
}
.signup-instructions{
	margin-left: -200px;
}