// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

h1.user-info{
	margin-bottom: 30px;
}
span#joined{
	margin-left: 400px;
}

.myquests-list-box{
	width: 540px;
	height: 220px;
	border-top: 2px solid #8FD26E;
}

.myquests-list-label{
	margin: 10px 0px;
}

.myquests-list{
	width: 540px;
}
.myquest-box{
	width: 130px;
	height: 140px;
	float:left;
	padding: 2px;
	margin: 5px;
	border: 3px solid #9A9A9A;
	background: #FDFDFD;
	text-align: center;
	position:relative;
}
	.myquest-box.creator{
		background-color: rgba(200,255,140,.3);
	}
.myquest-box-stats{
	margin: 3px;
	position: absolute;
	bottom:0;
	width: 134px;
}
	.myquest-box-stats p{margin:0px;}
	
.myquest-list-title{
	height: 40px;
	margin: 0px;
}
	.myquest-list-title a{
		text-decoration:none;
		color: #286B07;
		font-size: 14px;
		font-weight: bold;
	}
	.myquest-list-title a:hover{
		color: #5b9f3a;
		text-shadow: #bbb 0px 0px 3px;
	}

	

.myquest-list-photo{
	margin: 0px;
}
	.myquest-list-photo img:hover{
		-moz-box-shadow: 0 0 2px 2px #888;
		-webkit-box-shadow: 0 0 2px 2px #888;
		box-shadow: 0 0 2px 2px #888;
	}

div.myquest-stat{
	width: 30px;
	float:left;
	border: 2px solid rgba(100, 100, 100, 0.3);
	font-family: helvetica;
	font-weight: bold;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px;
	opacity: .7;
	text-align: center;

}
	.myquest-stat.joiners{background-color:#FFbF00;}
	.myquest-stat.length{background-color:#E0FFFF;}
	.myquest-stat.day.green{background-color:#C0FF3E;}
	.myquest-stat.day.yellow{background-color:#FFFF00;}
	.myquest-stat.day.grey{background-color:#CCCCCC;}
	
	//This is used in the quest show page
	.myquest-stat.big{
		width: 100px;
		height: 120px;
		margin: 0px 10px 20px 10px;
		font-size: 32px;
		text-align: center;
		border: 3px solid rgba(100, 100, 100, 0.3);

	}
	
	//This is used in the quest index (search) page
	.myquest-stat.small{
		height: 40px;
		text-align: center;
		margin-left: 5px;
		margin-right: 0px;
		padding: 2px;
		border: 2px solid rgba(100, 100, 100, 0.3);

	}

.myquest-stat-label{
	font-size: 9px;
	text-align: left;
	border-bottom: solid 1px;


}
	.myquest-stat-label.big{
		font-size:20px;
		border-bottom: solid 3px;
		padding: 5px;
		margin: 5px 5px 30px 5px;
		text-align: left;
	}
	.myquest-stat-label.small{
		border-bottom: solid 1px;
		padding-bottom: 2px;
		text-align: left;
		margin: 5px 0px;
	}


.myquest-stat-value{

}
	.myquest-stat-value.big{
		margin: 0px;
	}