<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

	<h1>All Categories</h1>

	<ul>
		<% @categories.each do |cat| %>
			<li> <%= link_to cat.name, category_path(cat) %> </li>
		<% end %>
		
	</ul>
	
	<%= link_to 'Add New', new_category_path(@category) %> 
	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>