<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

    <h1>Create a Category</h1>  
      
	<%= render 'form' %>
	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>