<!-------------- LEFT CONTENT --------------->
<div class="left_content new_form">

    <h1><%= @category.name %> </h1>  

	<%= link_to 'Edit', edit_category_path(@category) %> 
	<%= link_to 'View All', categories_path %> 
	<%= link_to 'Destroy', @category, confirm: 'Are you sure?', method: :delete %>

	
</div>

<!-------------- RIGHT CONTENT --------------->
<div class="right_content new_form">
</div>